<!-- Config file for the game -->

<config>
  <app>
    <title>Warcraft II</title>
    <organization>UPC</organization>    
  </app>
	
  <renderer>
    <vsync value="false"/>
    <CapFrames value="5500"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="true"/>
    <fullscreen_window value="false"/>
    <icon name="Assets/Sprites/Textures/Icon.bmp"/>
  </window>

  <map>
    <folder>data/assets/textures/maps/</folder>
    <general>
      <mapTypesNo number="1"/>
      <roomPullNo number="5"/>
      <roomPullNo number="4"/>
      <roomPullNo number="4"/>
    </general>
  </map>

  <audio>
    <music_folder>Assets/Audio/Music/</music_folder>
    <fx_folder>Assets/Audio/FX/</fx_folder>
    <volume default="16"/>
  </audio>

  <gui>
    <atlas file="Assets/Sprites/atlas.png"/>
  </gui>

  <scene>

    <camera speed ="300.0" movMarginPcnt = "5"/>
    
    <maps>
      <orthogonal name="orthogonal_walk.tmx" active="0"/>
      <isometric name="iso_walk.tmx" active="0" tex="data/assets/textures/maps/isometricDebugTex.png"/>
      <warcraft name="warcraft_walk.tmx" active="1" tex="data/assets/textures/maps/warcraftDebugTex.png"/>
    </maps>
    
  </scene>

  <entities>
    <spritesheets>
      <spritesheet name="Assets/Sprites/Textures/CatPeasant.png"/>
    </spritesheets>
    <types>
      <player>
        <general>
        </general>
        <animations>
          <idle speed="10" loop="1">
            <frame x="1" y="454" w="48" h="48"/>
            <frame x="50" y="454" w="48" h="48"/>
          </idle>
        </animations>
      </player>
    </types>    
  </entities>
  
  <particles>
     <spritesheets>
      <spritesheet name="Assets/Sprites/Textures/Sparkle.png"/>
    </spritesheets>
  </particles>

</config>