<!-- Config file for the game -->

<config>
  <app>
    <title>Warcraft II</title>
    <organization>UPC</organization>    
  </app>
	
  <renderer>
    <vsync value="false"/>
    <CapFrames value="5500"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="true"/>
    <fullscreen_window value="false"/>
    <icon name="Assets/Sprites/Textures/Icon.bmp"/>
  </window>

  <map>
    <folder>data/assets/textures/maps/</folder>
    <general>
      <mapTypesNo number="1"/>
      <roomPullNo number="5"/>
      <roomPullNo number="4"/>
      <roomPullNo number="4"/>
    </general>
  </map>

  <audio>
    <music_folder>Assets/Audio/Music/</music_folder>
    <fx_folder>Assets/Audio/FX/</fx_folder>
    <volume default="16"/>
  </audio>

  <gui>
    <atlas file="data/assets/textures/UI/atlas.png"/>
  </gui>

  <scene>

    <camera speed ="300.0" movMarginPcnt = "5"/>
    
    <maps>
      <orthogonal name="orthogonal_walk.tmx" active="0"/>
      <isometric name="iso_walk.tmx" active="0" tex="data/assets/textures/maps/isometricDebugTex.png"/>
      <warcraft name="warcraft_walk.tmx" active="1" tex="data/assets/textures/maps/warcraftDebugTex.png"/>
    </maps>

    <buttons
        buttonSaveGame = "62"
        buttonLoadGame = "63"
        buttonFullScreen = "64"
        buttonGodMode = "67"
        buttonMoveUp = "82"
        buttonMoveDown = "81"
        buttonMoveLeft = "80"
        buttonMoveRight = "79"
        buttonLeaveGame = "41"
        buttonReloadMap = "30"
    />
    
  </scene>

  <entities>
    <spritesheets>
      <humanBuildings name="Assets/Sprites/Textures/HumanBuildings.png"/>
    </spritesheets>
    
    <staticEntities>
      
      <townHall>
        <sprites>
          <complete x="265" y="5" w="128" h="128"/>
          <inProgress x="265" y="133" w="128" h="128"/>  
      </sprites>
      </townHall>
      
      <keep>
        <sprites>
          <complete x="2" y="2" w="128" h="128"/>
          <inProgress x="2" y="130" w="128" h="128"/>  
      </sprites>
      </keep>
      
      <castle>
        <sprites>
          <complete x="135" y="4" w="128" h="128"/>
          <inProgress x="135" y="132" w="128" h="128"/>  
      </sprites>
      </castle>
      
      <chickenFarm>
        <sprites>
          <complete x="398" y="4" w="64" h="64"/>
          <inProgress x="398" y="68" w="64" h="64"/>  
        </sprites>
      </chickenFarm>
      
      <scoutTower>
        <sprites>
          <complete x="465" y="4" w="64" h="64"/>
          <inProgress x="465" y="68" w="64" h="64"/>  
        </sprites>
      </scoutTower>
    
      <barracks>
        <sprites>
          <complete x="530" y="111" w="128" h="128"/>
        </sprites>
      </barracks>
       
      <barracks2>
        <sprites>
          <complete x="530" y="0" w="128" h="128"/>
        </sprites>
      </barracks2>

      <elvenLumberMill>
        <sprites>
          <complete x="191" y="260" w="128" h="128"/>
          <inProgress x="191" y="405" w="128" h="128"/>
        </sprites>
      </elvenLumberMill>

      <mageTower>
        <sprites>
          <complete x="572" y="226" w="128" h="128"/>
          <inProgress x="572" y="340" w="128" h="128"/>
        </sprites>
      </mageTower>
      
      <gryphonAviary>
        <sprites>
          <complete x="196" y="523" w="128" h="128"/>
          <inProgress x="29" y="523" w="128" h="128"/>
        </sprites>
      </gryphonAviary>
          
      <stables>
        <sprites>
          <complete x="317" y="272" w="128" h="128"/>
          <inProgress x="317" y="407" w="128" h="128"/>
        </sprites>
      </stables>
        
    </staticEntities>    
  </entities>
  
  <particles>
     <spritesheets>
      <spritesheet name="Assets/Sprites/Textures/Sparkle.png"/>
    </spritesheets>
  </particles>

</config>