<!-- Config file for the game -->

<config>
  <app>
    <title>Warcraft II</title>
    <organization>UPC</organization>    
  </app>
	
  <renderer>
    <vsync value="true"/>
    <CapFrames value="60"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="true"/>
    <fullscreen_window value="false"/>
    <icon name="Assets/Sprites/Textures/Icon.bmp"/>
  </window>

  <map>
    <folder>data/assets/textures/maps/</folder>
    <general>
      <mapTypesNo number="1"/>
      <roomPullNo number="5"/>
      <roomPullNo number="4"/>
      <roomPullNo number="4"/>
    </general>
  </map>

  <audio>
    <music_folder>Assets/Audio/Music/</music_folder>
    <fx_folder>Assets/Audio/FX/</fx_folder>
    <volume default="16"/>
  </audio>

  <gui>
    <atlas file="data/assets/textures/UI/atlas.png"/>
  </gui>

  <scene>

    <camera speed ="300.0" movMarginPcnt = "5"/>
    
    <maps>
      <orthogonal name="orthogonal_walk.tmx" active="0"/>
      <isometric name="iso_walk.tmx" active="0" tex="data/assets/textures/maps/isometricDebugTex.png"/>
      <warcraft name="warcraft_walk.tmx" active="1" tex="data/assets/textures/maps/warcraftDebugTex.png"/>
    </maps>

    <buttons
        buttonSaveGame = "62"
        buttonLoadGame = "63"
        buttonFullScreen = "64"
        buttonGodMode = "67"
        buttonMoveUp = "82"
        buttonMoveDown = "81"
        buttonMoveLeft = "80"
        buttonMoveRight = "79"
        buttonLeaveGame = "41"
        buttonReloadMap = "30"
    />
    
  </scene>

  <entities>
    <spritesheets>
      <humanBuildings name="data/assets/textures/buildings/HumanBuildings.png"/>
      <neutralBuildings name ="data/assets/textures/buildings/NeutralBuildings.png"/>
      <orcishBuildings name ="data/assets/textures/buildings/OrcishBuildings.png"/>
    </spritesheets>

    <dynamicEntities>
      
    </dynamicEntities>
    
    <staticEntities>
      
      <humanBuildings>
        
        <townHall>
          <maxLife value = "1200"/>
          <sprites>
            <complete x="265" y="5" w="128" h="128"/>
            <inProgress x="265" y="133" w="128" h="128"/>
          </sprites>
        </townHall>

        <keep>
          <maxLife value = "1400"/>
          <sprites>
            <complete x="2" y="2" w="128" h="128"/>
            <inProgress x="2" y="130" w="128" h="128"/>
          </sprites>
        </keep>

        <castle>
          <maxLife value = "1400"/>
          <sprites>
            <complete x="135" y="4" w="128" h="128"/>
            <inProgress x="135" y="132" w="128" h="128"/>
          </sprites>
        </castle>

        <chickenFarm>
          <maxLife value = "400"/>
          <sprites>
            <complete x="398" y="4" w="64" h="64"/>
            <inProgress x="398" y="68" w="64" h="64"/>
          </sprites>
        </chickenFarm>

        <scoutTower>
          <maxLife value = "150"/>
          <sprites>
            <complete x="465" y="4" w="64" h="64"/>
            <inProgress x="465" y="68" w="64" h="64"/>
          </sprites>
        </scoutTower>

        <guardTower>
          <maxLife value = "175"/>
          <sprites>
            <complete x="399" y="134" w="64" h="64"/>
            <inProgress x="399" y="198" w="64" h="64"/>
          </sprites>
        </guardTower>

        <canonTower>
          <maxLife value = "200"/>
          <sprites>
            <complete x="466" y="134" w="64" h="64"/>
            <inProgress x="466" y="198" w="64" h="64"/>
          </sprites>
        </canonTower>

        <barracks>
          <maxLife value = "800"/>
          <sprites>
            <complete x="530" y="111" w="128" h="128"/>
          </sprites>
        </barracks>

        <barracks2>
          <maxLife value = "1200"/>
          <sprites>
            <complete x="530" y="0" w="128" h="128"/>
          </sprites>
        </barracks2>

        <elvenLumberMill>
          <maxLife value = "600"/>
          <sprites>
            <complete x="191" y="260" w="128" h="128"/>
            <inProgress x="191" y="405" w="128" h="128"/>
          </sprites>
        </elvenLumberMill>

        <mageTower>
          <maxLife value = "500"/>
          <sprites>
            <complete x="572" y="226" w="128" h="128"/>
            <inProgress x="572" y="340" w="128" h="128"/>
          </sprites>
        </mageTower>

        <gryphonAviary>
          <maxLife value = "500"/>
          <sprites>
            <complete x="196" y="523" w="128" h="128"/>
            <inProgress x="29" y="523" w="128" h="128"/>
          </sprites>
        </gryphonAviary>

        <stables>
          <maxLife value = "700"/>
          <sprites>
            <complete x="317" y="272" w="128" h="128"/>
            <inProgress x="317" y="407" w="128" h="128"/>
          </sprites>
        </stables>

        <constructionPlanks>
          
          <bigTilePlanks>
            <first x="376" y="529" w="128" h="128"/>
            <second x="565" y="485" w="128" h="128"/>
          </bigTilePlanks>

          <smallTilePlanks>
            <first x="405" y="561" w="64" h="64"/>
            <second x="597" y="517" w="64" h="64"/>
          </smallTilePlanks>
          
        </constructionPlanks>
        
      </humanBuildings>

      <neutralBuildings>
        <goldMine>
          <maxLife value = "250"/>
          <sprites>
            <active x="0" y="118" w="128" h="128"/>
            <inactive x="0" y="0" w="128" h="128"/>
          </sprites>
        </goldMine>
        
        <runeStone>
          <sprites x="144" y="83" w="128" h="128" />
        </runeStone>
      
    </neutralBuildings>

    <orcishBuildings>
        
    </orcishBuildings>
      
      
    </staticEntities>    
  </entities>

  <particles>
    <spritesheets>
      <sprite name = "data/assets/textures/buildings/NeutralBuildings.png"/>
    </spritesheets>
    
    <fire>
      <sprites x="144" y="83" w="128" h="128" />
      <sprites x="144" y="83" w="128" h="128" />
      <sprites x="144" y="83" w="128" h="128" />
      <sprites x="144" y="83" w="128" h="128" />
    </fire>
    
  </particles>

</config>